<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>ocwcd_tue_wen_2020_2.1</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>SignupServlet</display-name>
		<servlet-name>SignupServlet</servlet-name>
		<servlet-class>com.controller.SignupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignupServlet</servlet-name>
		<url-pattern>/SignupServlet</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>SignupFilter</filter-name>
		<filter-class>com.filter.SignupFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SignupFilter</filter-name>
		<servlet-name>SignupServlet</servlet-name>
	</filter-mapping>
	<filter>
		<filter-name>EmailValidationFilter</filter-name>
		<filter-class>com.filter.EmailValidationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EmailValidationFilter</filter-name>
		<url-pattern>/SignupServlet</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.controller.LoginServlet</servlet-class>
		<init-param>
			<param-name>email</param-name>
			<param-value>admin@yopmail.com</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>pass123</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>appName</param-name>
		<param-value>ocwcd_2020</param-value>
	</context-param>
	<servlet>
		<description></description>
		<display-name>AddPostServlet</display-name>
		<servlet-name>AddPostServlet</servlet-name>
		<servlet-class>com.controller.AddPostServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddPostServlet</servlet-name>
		<url-pattern>/AddPostServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.controller.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>5</session-timeout>
	</session-config>
	<servlet>
		<description></description>
		<display-name>SessionTimeOutConfig</display-name>
		<servlet-name>SessionTimeOutConfig</servlet-name>
		<servlet-class>com.controller.SessionTimeOutConfig</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SessionTimeOutConfig</servlet-name>
		<url-pattern>/SessionTimeOutConfig</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>com.listener.UserCounter</listener-class>
	</listener>
	<listener>
		<listener-class>com.listener.GoogleApi</listener-class>
	</listener>
	<servlet>
		<description></description>
		<display-name>AddTwoNumbersServlet</display-name>
		<servlet-name>AddTwoNumbersServlet</servlet-name>
		<servlet-class>com.controller.AddTwoNumbersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddTwoNumbersServlet</servlet-name>
		<url-pattern>/AddTwoNumbersServlet</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>AddTwoNumbersFilter</filter-name>
		<filter-class>com.filter.AddTwoNumbersFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AddTwoNumbersFilter</filter-name>
		<servlet-name>AddTwoNumbersServlet</servlet-name>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>DbSignupServlet</display-name>
		<servlet-name>DbSignupServlet</servlet-name>
		<servlet-class>com.controller.DbSignupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DbSignupServlet</servlet-name>
		<url-pattern>/DbSignupServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DbListUserServlet</display-name>
		<servlet-name>DbListUserServlet</servlet-name>
		<servlet-class>com.controller.DbListUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DbListUserServlet</servlet-name>
		<url-pattern>/DbListUserServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DbDeleteUserServlet</display-name>
		<servlet-name>DbDeleteUserServlet</servlet-name>
		<servlet-class>com.controller.DbDeleteUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DbDeleteUserServlet</servlet-name>
		<url-pattern>/DbDeleteUserServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DbEditUserServlet</display-name>
		<servlet-name>DbEditUserServlet</servlet-name>
		<servlet-class>com.controller.DbEditUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DbEditUserServlet</servlet-name>
		<url-pattern>/DbEditUserServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DbUpdateUserServlet</display-name>
		<servlet-name>DbUpdateUserServlet</servlet-name>
		<servlet-class>com.controller.DbUpdateUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DbUpdateUserServlet</servlet-name>
		<url-pattern>/DbUpdateUserServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DbAddProductServlet</display-name>
		<servlet-name>DbAddProductServlet</servlet-name>
		<servlet-class>com.controller.DbAddProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DbAddProductServlet</servlet-name>
		<url-pattern>/DbAddProductServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddCookieServlet</display-name>
		<servlet-name>AddCookieServlet</servlet-name>
		<servlet-class>com.controller.AddCookieServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCookieServlet</servlet-name>
		<url-pattern>/AddCookieServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PrintCookieServlet</display-name>
		<servlet-name>PrintCookieServlet</servlet-name>
		<servlet-class>com.controller.PrintCookieServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PrintCookieServlet</servlet-name>
		<url-pattern>/PrintCookieServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DbAddStudentServlet</display-name>
		<servlet-name>DbAddStudentServlet</servlet-name>
		<servlet-class>com.controller.DbAddStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DbAddStudentServlet</servlet-name>
		<url-pattern>/DbAddStudentServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DbListStudentServlet</display-name>
		<servlet-name>DbListStudentServlet</servlet-name>
		<servlet-class>com.controller.DbListStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DbListStudentServlet</servlet-name>
		<url-pattern>/DbListStudentServlet</url-pattern>
	</servlet-mapping>


	<jsp-config>
		<taglib>
			<taglib-uri>adminElFunction</taglib-uri>
			<taglib-location>/WEB-INF/elfun.tld</taglib-location>
		</taglib>

		<taglib>
			<taglib-uri>stag</taglib-uri>
			<taglib-location>/WEB-INF/stag.tld</taglib-location>
		</taglib>

		<taglib>
			<taglib-uri>ctag</taglib-uri>
			<taglib-location>/WEB-INF/ctag.tld</taglib-location>
		</taglib>
	</jsp-config>



</web-app>